<footer class="bg-dark pt-5">
    
    <div class="container">
        <div class="row pb-3">
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="media">
            <i class="czi-rocket text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
                <h6 class="font-size-base text-light mb-1">Livrare</h6>
                <p class="mb-0 font-size-ms text-light opacity-50">Livrarea la domiciliu nu este disponibila momentan</p>
            </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="media">
            <i class="czi-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
                <h6 class="font-size-base text-light mb-1">Refund doar la sediul firmei</h6>
                <p class="mb-0 font-size-ms text-light opacity-50">In cazul calitatii deteriorate oferim cupoane in schimb</p>
            </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="media">
            <i class="czi-support text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
                <h6 class="font-size-base text-light mb-1">Contact support</h6>
                <p class="mb-0 font-size-ms text-light opacity-50">Contactati-ne oricand in timpul orarului de lucru</p>
            </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="media">
            <i class="czi-card text-primary" style="font-size: 2.25rem;"></i>
            <div class="media-body pl-3">
                <h6 class="font-size-base text-light mb-1">Plati online</h6>
                <p class="mb-0 font-size-ms text-light opacity-50">Platile cu cardul nu sunt disponibile momentan</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="pt-4 bg-darker">
        <div class="container">
        <div class="row pb-2">
            <div class="col-md-6 text-center text-md-left mb-2">
            <div class="text-nowrap mb-4">
                <a class="d-inline-block align-middle mt-1 mr-3" href="#">
                <img class="d-block" width="147" src="../static/img/logo-lumea.svg" alt="Cartzilla"/>
                </a>
            </div>
            </div>
            <div class="col-md-6 text-center text-md-right pt-4">
            <div class="mb-3">
                <div class="font-size-xs text-light opacity-80 text-md-right">© All rights reserved. Made by <a href="https://www.linkedin.com/in/riccardo-andronache-77b731194/">rickandronache</a></div>
            </div>
            </div>
        </div>
        </div>
    </div>
</footer>