<section class="container py-4">
    <!-- Gallery grid with gutters -->
    <div class="row cz-gallery">
        <!-- Item -->
        <div class="col-xl-4 col-sm-6 mb-grid-gutter">
        <a href="../static/img/food-delivery/prepare-sandwich-xl.jpeg" class="gallery-item rounded-lg" data-sub-html='<h6 class="font-size-sm text-light">Gallery image caption</h6>'>
            <img src="../static/img/food-delivery/prepare-sandwich.jpeg" alt="Gallery thumbnail">
            <span class="gallery-item-caption">Gallery image caption</span>
        </a>
        </div>
    
        <!-- Item -->
        <div class="col-xl-4 col-sm-6 mb-grid-gutter">
            <a href="../static/img/food-delivery/prepare-sandwich-xl.jpeg" class="gallery-item rounded-lg" data-sub-html='<h6 class="font-size-sm text-light">Gallery image caption</h6>'>
                <img src="../static/img/food-delivery/prepare-sandwich.jpeg" alt="Gallery thumbnail">
                <span class="gallery-item-caption">Gallery image caption</span>
            </a>
            </div>
    
        <!-- Add as many columns with gallery item inside as you need -->
  </div>
</section>